@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Headland+One);
/*@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");*/
@import url("http://fonts.googleapis.com/css?family=Jura:300,400");
@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);

/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url('../images/main.png') no-repeat center center fixed;
    background-size: cover;
}

ol, ul {
	list-style: none;
}

li {
    float: right;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

video {
    min-width:100%;
    min-height:100%;
    position:fixed;
    width:auto;
    height:auto;
    bottom:0;
    right:0;
    z-index:-75;
}

#textblock {
	width:200px;
	height:auto;
	background:rgba(0, 0, 0, 0.3);
	margin-left:30px;
	margin-top:30px;
	border-radius: 1em 5em 1em 5em;
	text-align:center;
	color:#FFF;
}

#menu-bar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: visible;
}

#menu-items {
    overflow: auto;
}
/*
#typeahead {
    position: relative;
    display: inline-block;
    direction: ltr;
}

#typeahead.tt-hint {
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}

#typeahead.tt-input {
    position: relative;
    vertical-align: top;
    background-color: transparent;
}

pre {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-family: 'Headland One', serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    word-spacing: 0px;
    letter-spacing: 0px;
 /*   text-indent: 0px;
    text-rendering: auto;
    text-transform: none;
}

#tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
    display: none;
    right: auto;
}
*/
h1 {
    float: left;
    font-family: 'Jura';
	font-size:1em;
	font-weight:bolder;
	text-align:left;
	margin: 2.5em 0 0 2em;;
    color:#fff;
}

h2 {
    font-family: 'Lemon', cursive;
    font-size: 7.5em;
    color: #fff;
	font-weight:bold;
    text-align: center;
    margin-top: 1.5em;
    margin-left: -5em;
}

h3 {
	font-size:18px;
}

h4 {
    font-family: 'Jura';
    font-size: 3.5em;
    color: #fff;
    text-align: center;
}

h5 {
    font-family: 'Lobster Two', cursive;
    margin-top: -1em;
    margin-right: 2em;
    font-size: 8em;
    color: #fff;
    text-align: center;
}

.logo {
    border-radius: 4em;
    float: left;
    width: 10em;
    height: auto;
	display:block;
	
}


a {
	color:red;
}

/***********************
    --Search Bar--
***********************/
#search-container {
    margin: 35em 0 0 0;
    text-align:center;
}

input {
    border: none;
    line-height: 2.5em;
    margin: 1em;
    width: 40em;
    outline: none;
    padding: 1em;
    -webkit-appearance: none;
}

.container {
    font: 14px/1.5em "Open Sans", sans-serif;
    height: 44px;
    left: 50%;
    margin: 10em 0 0 -15em;
    position: absolute;
    top: 50%;
}

/* text color in #search changes text color in the drop down menu */
#search {
    color: #fff;
	background-color:rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-top: 2em;
    display: inline-block;
    padding: 7px;
}

/*changing text color here adjusts the input text color */
#search input {
    color: #45133E;
    float: left;
}
