@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Headland+One);
@import url("http://fonts.googleapis.com/css?family=Jura:300,400");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400, 700, 800Bold)
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Cinzel:700,400);
@import url(http://fonts.googleapis.com/css?family=Exo:400,300italic);

/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url('../images/main.png') no-repeat center center fixed;
    background-size: cover;
}

ol, ul {
	list-style: none;
}

li {
    float: right;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

video {
    min-width:100%;
    min-height:100%;
    position:fixed;
    width:auto;
    height:auto;
    bottom:0;
    right:0;
    z-index:-75;
}

#textblock {
	width:200px;
	height:auto;
	background:rgba(0, 0, 0, 0.3);
	margin-left:30px;
	margin-top:30px;
	border-radius: 1em 5em 1em 5em;
	text-align:center;
	color:#FFF;
}

#menu-bar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: visible;
}

#menu-items {
    overflow: auto;
}

h1 {
    float: left;
    font-family: 'Jura';
	font-size:1em;
	font-weight:bolder;
	text-align:left;
    color:#fff;
    line-height: 2.5em;
    margin-left: 1em;
}

h2 {
    font-size: 7.5em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
	font-weight:bold;
    text-align: center;
    margin-top: 1.5em;
    margin-left: -5em;
}

#welcome_words {
    font-family: 'Exo', sans-serif;
    color: #fff;
    font-size: 4em;
    margin-bottom: 2em;
}

h4 {
    font-family: 'Exo', sans-serif;
    color: #fff;
    font-size: 5em;
    margin-bottom: 1em;
    background-color: rgba(0,0,0,0.4);
    width: 16em;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    border-radius: 25px;
}

.logo {
    border-radius: 4em;
    float: left;
    width: 10em;
    height: auto;
	display:block;
	
}


a {
	color:red;
}

/***********************
    --Menu Bar--
***********************/

#menu-items {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) , #913685); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #913685); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #913685); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) , #913685); /* Standard syntax (must be last) */
    width: auto;
}
#menu-items ul {
    list-style: none;
    margin-right: 10%;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
    font-size: 0;
}
#menu-items ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#menu-items ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#menu-items.align-right ul li {
    float: right;
}
#menu-items.align-center ul {
    text-align: center;
    font-size: 0;
}
#menu-items ul li a {
    color: #ffffff;
    text-decoration: none;
  display: block;
  padding: 15px 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#menu-items ul li a:hover {
  color: #C2B3BC;
}
#menu-items ul li a:hover:before {
  width: 100%;
}
#menu-items ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  color: #C2B3BC;
  background: #ffffff;
  opacity: .5;
}
#menu-items ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#menu-items ul li.last > a:after,
#menu-items ul li:last-child > a:after {
  color: #C2B3BC;
  display: none;
}
#menu-items ul li.active a {
  color: #C2B3BC;
}
#menu-items ul li.active a:before {
  color: #C2B3BC;
  width: 100%;
}
#menu-items.align-right li.last > a:after,
#menu-items.align-right li:last-child > a:after {
  display: block;
}
#menu-items.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu-items ul li {
    float: none;
    display: block;
  }
  #menu-items ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #menu-items ul li.last > a,
  #menu-items ul li:last-child > a {
    border: 0;
  }
  #menu-items ul li a:after {
    display: none;
  }
  #menu-items ul li a:before {
    display: none;
  }
}

/***********************
    --Song Search Bar--
***********************/
#search-container {
    margin: 15em 0 0 0;
    text-align:center;
}

input {
    border: none;
    line-height: 2.5em;
    margin: 1em;
    width: 40em;
    outline: none;
    padding: 1em;
    -webkit-appearance: none;
}

.container {
    font: 14px/1.5em "Open Sans", sans-serif;
    height: 44px;
    left: 50%;
    margin: 10em 0 0 -15em;
    position: absolute;
    top: 50%;
}

/* text color in #search changes text color in the drop down menu */
#search {
    color: #fff;
	background-color:rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-top: 2em;
    display: inline-block;
    padding: 7px;
}

#search input.songTA.tt-hint {
    color: #C2B3BC;
}
.tt-dropdown-menu {
  border-radius: 0px 0px 10px 10px;
  top: 90% !important;
  left: 10px !important;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(0, 0, 0, 0.498039);
}
/*changing text color here adjusts the input text color */
#search input {
    color: #45133E;
    float: left;
}
