@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url("http://fonts.googleapis.com/css?family=Jura:300,400,700,900,300italic");

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background-color: #B9C478;
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body,input,textarea,select
	{
		font-family: 'Jura';
		font-weight: 300;
		color: #5d5d5d;
	}

	strong, b
	{
		color: #252122;
		font-weight: 400;
	}

	i, em
	{
		font-style: italic;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote
	{
		border-left: solid 0.75em #dddddd;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6
	{
		color: #252122;
		font-weight: 700;
	}
	
	h10
	{
		font-size: 2.5em;
		color: #252122;
		font-weight: 900;
		text-align: center;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
	}

	a
	{
		color: #d52349;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}

	br.clear
	{
		clear: both;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #dddddd;
		height: 1px;
		margin: 2em 0 2em 0;
	}
		
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}
	
	.logo_container {
	    width: 500px;
	    height: 355px;
	    background: #aaa;
	    text-align: center;
	    line-height: 300px;
	}

	.logo_container img {
    	margin-top: 10px;
    	vertical-align: middle;
	}

	/* Form */
	
		form
		{
		}
		
			form label
			{
				display: block;
				color: #252122;
				font-weight: 400;
				margin: 0 0 0.5em 0;
			}
	
			form input[type=text],
			form input[type=email],
			form input[type=password],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				border: 0;
				padding: 0.75em 1em;
				font-size: 1em;
				border-radius: 5px;
				border: solid 1px #dddddd;
				background: #fff;
				width: 100%;
			}

			form input[type=text]:focus,
			form input[type=email]:focus,
			form input[type=password]:focus,
			form select:focus,
			form textarea:focus
			{
				box-shadow: inset 0px 0px 1px 1px #43bff0;
			}

			form textarea
			{
				height: 15em;
			}
			
			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	/* Tables */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 1px #dddddd;
				}

					table.default tr:first-child
					{
						border-top: 0;
					}
			
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					font-weight: 700;
					margin: 0 0 1em 0;
				}
			
				table.default thead
				{
					border-bottom: solid 2px #dddddd;
				}
				
				table.default tfoot
				{
				}
				
				table.default tbody
				{
				}

	

	/* Box */

		.box
		{
			background: #ffffff;
			border-bottom: solid 1px #ccc;
		}
		
			.box .image.featured
			{
				position: relative;
				width: auto;
			}



/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.featured
		{
			position: relative;
			display: inline-block;
			background-color: #d52349;
			width: 9em;
			padding: 1.75em 0 0.75em 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin: 0 0 4.5em 0;
			cursor: default;
		}

			.icon.featured:before
			{
				font-size: 4.5em;
				line-height: 1em;
				color: #fff;
			}
					
			.icon.featured:after
			{
				content: '';
				position: absolute;
				bottom: -1.95em;
				left: 0;
				border-top: solid 2em #d52349;
				border-left: solid 4.5em transparent;
				border-right: solid 4.5em transparent;
			}

			.icon.featured.alt
			{
				background-color: #252122;
			}
			
				.icon.featured.alt:after
				{
					border-top-color: #252122;
				}

			.icon.featured.alt2
			{
				background-color: #827a7c;
			}
			
				.icon.featured.alt2:after
				{
					border-top-color: #827a7c;
				}
							
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		background: #CCE8F4 url('../images/purple_lines.jpg');
		background-position: center center;
		background-size: auto 100%;
		background-repeat: x-repeat;
		text-align: center;
		filter: blur(2em);
	}

		#banner header
		{
			background-color: #252122;
			background-color: rgba(34,30,31,0.98);
		}
		
			#banner header h2
			{
				color: #fff;
				font-weight: 700;
			}
			
			#banner header p
			{
				color: #d52349;
				padding: 0;
				font-style: normal;
				margin: 0;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		background: #ffffff;
		border-bottom: solid 1px #ccc;
	}

	#main-wrapper
	{
		position: relative;
		background: #f7f7f7 url('images/bg02.png');
	}

		#main-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: url('images/bg01.png');
			background-size: 100% 100%;
			z-index: 0;
			opacity: 0.1;
		}
		
		#main-wrapper .major
		{
		}
		
			#main-wrapper .major h2
			{
				background: #f7f7f7 url('images/bg02.png');
			}
	
	

		
	#footer-wrapper
	{
		position: relative;
		color: #858484;
	}

		#footer-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: url('images/bg01.png');
			background-size: 100% 100%;
			z-index: 0;
			opacity: 0.5;
		}
	
		#footer-wrapper a
		{
			color: #c5c4c4;
		}
		
		#footer-wrapper h2,
		#footer-wrapper h3,
		#footer-wrapper h4,
		#footer-wrapper h5,
		#footer-wrapper h6,
		#footer-wrapper strong,
		#footer-wrapper b
		{
			color: #fff;
		}

		#footer-wrapper h1 a, 
		#footer-wrapper h2 a, 
		#footer-wrapper h3 a, 
		#footer-wrapper h4 a, 
		#footer-wrapper h5 a, 
		#footer-wrapper h6 a
		{
			color: inherit;
		}

		#footer-wrapper ul.contact li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper ul.dates li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper ul.divided li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}
		
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}
		
=======
body {
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
}

#main {
    display: table;
    height: 100%;
    width: 100%;
}

#content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#about {
    padding-bottom: 10px;
    font-weight: normal;
}

#speech-page-content {
    width: 800px;
    height: 25px;
    background-color: rgb(216,216,216);
    border: 1px;
    resize: none;
    font-family: arial, sans-serif;
    font-size: 14px;
}

#speech-page-content:focus {
    outline: none;
}

#speech-page-content::-webkit-scrollbar {
    width: 6px;
}

#speech-page-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#speech-page-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

